ENV{DEVTYPE}=="usb_device", ACTION=="add",  RUN+="/usr/bin/deepin-diskmanager-hotplug"
ENV{DEVTYPE}=="usb_device", ACTION=="remove",  RUN+="/usr/bin/deepin-diskmanager-hotplug-remove"
