[Desktop Entry]
Categories=Office;Viewer;
Exec=deepin-diskmanager
GenericName=diskmanager
GenericName[zh_CN]=磁盘管理器
GenericName[zh_TW]=磁盘管理器
Icon=deepin-diskmanager
Name=deepin-diskmanager
Name[zh_CN]=磁盘管理器
Name[zh_TW]=磁盘管理器
StartupNotify=true
TryExec=deepin-diskmanager
Type=Application
X-Deepin-Vendor=user-custom
