Source: deepin-diskmanager
Section: admin
Priority: optional
Maintainer: deepin <packages@deepin.com>
Build-Depends:
 debhelper (>= 11),
 cmake,
 pkg-config,
 libc6-dev,
 qt6-tools-dev | qttools5-dev,
 qt6-base-dev | qtbase5-dev,
 libx11-dev,
 libdtk6widget-dev | libdtkwidget-dev,
 qt6-tools-dev-tools | qttools5-dev-tools,
 qt6-base-private-dev | qtbase5-private-dev,
 libparted-dev,
 libparted-fs-resize0,
 libpolkit-qt6-1-dev | libpolkit-qt5-1-dev,
 libgtest-dev,
 libgmock-dev,
 deepin-gettext-tools
Standards-Version: 4.1.3

Package: deepin-diskmanager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, smartmontools, pkexec
Description: Disk Utility is a disk management tool for creating, reorganizing and formatting partitions.
 Disk Utility is a disk management tool for disk.

