[Unit]
Description=Disk Manager Daemon
After=local-fs.target udisks2.service

[Service]
Type=dbus
BusName=com.deepin.diskmanager
ExecStart=/usr/lib/deepin-daemon/deepin-diskmanager-service
User=root
StandardOutput=journal
MemoryMax=1G
IOWeight=200
ProtectSystem=full
ProtectHome=true
ProtectProc=invisible
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=false
NoNewPrivileges=true
MemoryDenyWriteExecute=true
RestrictSUIDSGID=true
LimitMEMLOCK=infinity
CapabilityBoundingSet=CAP_SYS_ADMIN CAP_SYS_RAWIO CAP_SYS_PTRACE CAP_MKNOD CAP_CHOWN CAP_FOWNER CAP_SETGID CAP_SETUID CAP_DAC_OVERRIDE CAP_DAC_READ_SEARCH CAP_FSETID CAP_KILL CAP_SETFCAP CAP_NET_RAW CAP_IPC_LOCK CAP_SYS_RESOURCE CAP_SYS_NICE CAP_LINUX_IMMUTABLE
AmbientCapabilities=CAP_SYS_ADMIN CAP_SYS_RAWIO CAP_SYS_PTRACE CAP_MKNOD CAP_CHOWN CAP_FOWNER CAP_SETGID CAP_SETUID CAP_DAC_OVERRIDE CAP_DAC_READ_SEARCH CAP_FSETID CAP_KILL CAP_SETFCAP CAP_NET_RAW CAP_IPC_LOCK CAP_SYS_RESOURCE CAP_SYS_NICE CAP_LINUX_IMMUTABLE
InaccessiblePaths=-/etc/shadow
InaccessiblePaths=-/etc/NetworkManager/system-connections/
InaccessiblePaths=-/etc/pam.d/
InaccessiblePaths=-/etc/security/
InaccessiblePaths=-/etc/selinux/
InaccessiblePaths=-/etc/deepin-elf-verify/
InaccessiblePaths=-/etc/filearmor.d/
InaccessiblePaths=-/sysroot/ostree/repo/
InaccessiblePaths=-/persistent/ostree/repo/
InaccessiblePaths=-/usr/share/uadp
InaccessiblePaths=-/etc/sudoers
InaccessiblePaths=-/etc/sudoers.d
InaccessiblePaths=-/root
InaccessiblePaths=-/var/cache
ReadWritePaths=/var/log/deepin
ReadWritePaths=/tmp
ReadWritePaths=/var/tmp
ReadWritePaths=/media
ReadWritePaths=/mnt
ReadOnlyPaths=/etc/fstab
ReadOnlyPaths=/etc/crypttab
ReadOnlyPaths=/etc/udev/rules.d
ExecPaths=/usr/bin /usr/sbin /bin /sbin /lib /usr/lib /proc /sys
NoExecPaths=/home /root
OOMScoreAdjust=-500
Nice=-5

[Install]
WantedBy=multi-user.target
