[Desktop Entry]
Categories=Utility;System;
Exec=deepin-diskmanager
GenericName=Disk Utility
Icon=deepin-diskmanager
Name=Deepin Disk Utility
StartupNotify=true
TryExec=deepin-diskmanager
Type=Application
X-Deepin-Vendor=deepin

# Automatically generate translations
