[Desktop Entry]
Categories=Utility;System;
Exec=deepin-diskmanager
GenericName=diskmanager
Icon=deepin-diskmanager
Name=Deepin DiskManager
StartupNotify=true
TryExec=deepin-diskmanager
Type=Application
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
GenericName[ca]=Utilitat de disc
GenericName[cs]=Nástroj pro správu disku
GenericName[es]=Administrador de discos
GenericName[fi]=Levytyökalu
GenericName[fr]=Utilitaire de disque
GenericName[hi_IN]=डिस्क साधन
GenericName[it]=Gestore Dischi
GenericName[nl]=Schijfhulpprogramma
GenericName[pt]=Utilitário do Disco
GenericName[pt_BR]=Utilitário de Disco
GenericName[sq]=Mjet Për Disqe
GenericName[sr]=Диск
GenericName[tr]=Disk Yardımcısı
GenericName[uk]=Дисковий додаток
GenericName[zh_CN]=磁盘管理器
GenericName[zh_HK]=磁盤管理器
GenericName[zh_TW]=磁碟管理器
Name[ca]=Utilitat de disc del Deepin
Name[cs]=Deepín nástroj pro správu disku
Name[es]=Administrador de discos Deepin
Name[fi]=Deepin levytyökalu
Name[fr]=Utilitaire de disque Deepin
Name[hi_IN]=दीपिन डिस्क साधन
Name[it]=Gestore Dischi di Deepin
Name[nl]=Deepin Schijfhulpprogramma
Name[pt]=Utilitário do Disco Deepin
Name[pt_BR]=Deepin Utilitário de Disco
Name[sq]=Mjet Deepin Për Disqe
Name[sr]=Дипин Диск
Name[tr]=Deepin Disk Yardımcısı
Name[uk]=Дисковий додаток Deepin
Name[zh_CN]=深度磁盘管理器
Name[zh_HK]=Deepin 磁盤管理器
Name[zh_TW]=Deepin 磁碟管理器

